<div class="sidebar">
  <div class="sidebar-content">
    <a routerLink="/purchases" routerLinkActive="active" class="sidebar-nav-link">
      <span>Compras</span>
    </a>
    <a routerLink="/sales" routerLinkActive="active" class="sidebar-nav-link">
      <span>Vendas</span>
    </a>
    <a routerLink="/inventory" routerLinkActive="active" class="sidebar-nav-link">
      <span>Estoque</span>
    </a>
    <a routerLink="/products" routerLinkActive="active" class="sidebar-nav-link">
      <span>Produtos</span>
    </a>
    <a routerLink="/categories" routerLinkActive="active" class="sidebar-nav-link">
      <span>Categorias</span>
    </a>
    <a routerLink="/suppliers" routerLinkActive="active" class="sidebar-nav-link">
      <span>Fornecedores</span>
    </a>
    <a routerLink="/customers" routerLinkActive="active" class="sidebar-nav-link">
      <span>Clientes</span>
    </a>
  </div>
</div>
