# IDEs and editors
.idea/
*.sln.iml
*.iws
.idea_modules/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.rsuser

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
out/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vs/
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
Generated\ Files/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Cache files
*.[Cc]ache
!?*.[Cc]ache/
*.cachefile
*.VC.db
*.VC.VC.opendb

# Profiling
*.psess
*.vsp
*.vspx
*.sap

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
nuget.config

# Web publish
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj
PublishScripts/

# SQL Server files
*.mdf
*.ldf
*.ndf

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.npm
.ntvs_analysis.dat

# Angular specific
dist/
tmp/
out-tsc/
bazel-out/
.angular/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/
.eslintcache

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Storybook
.out
.storybook-out

# System files
.DS_Store
Thumbs.db
~$*
*~

# Others
*.GhostDoc.xml
*.pfx
*.publishsettings
orleans.codegen.cs
healthchecksdb
*.binlog
*.nvuser
.mfractor/
.localhistory/
.ionide/
FodyWeavers.xsd
.fake/
.paket/
paket-files/
.cr/
__pycache__/
*.pyc