$spacing-4: 1rem;
$spacing-8: 2rem;

.content {
  padding: $spacing-4;

  ::ng-deep .add-sale-button .p-button {
    background-color: #1293b3;
    border-color: #1293b3;

    &:hover {
      background-color: #076e87;
      border-color: #076e87;
    }
  }

  .list {
    margin-top: $spacing-8;

    .actions {
      i {
        padding: 0.5rem;
        border-radius: 4px;
        transition: background-color 0.2s;

        &:hover {
          background-color: var(--p-content-hover-background);
        }

        &.pi-pencil {
          color: var(--p-primary-color);
        }

        &.pi-trash {
          color: var(--p-red-500);
        }
      }
    }
  }
}
