<div class="content">
  <p-button class="add-sale-button" label="Adicionar venda" (click)="openSaleForm()"/>
  <app-sale-form [(visible)]="visible" [sale]="selectedSale" (saleChanged)="loadSales()"></app-sale-form>
  <div class="list">
    <p-table
      [value]="sales"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="pageSize"
      [totalRecords]="totalCount"
      [lazy]="true"
      (onPage)="pageChange($event)"
      [rowsPerPageOptions]="[10, 20, 30, 50]"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    >
      <ng-template #header>
        <tr>
          <th>Data</th>
          <th>Cliente</th>
          <th>Status</th>
          <th>Itens</th>
          <th>Total</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template #body let-sale>
        <tr>
          <td>{{ sale.saleDate | date:'dd/MM/yyyy' }}</td>
          <td>{{ sale.customer?.name || 'N/A' }}</td>
          <td>
            <p-tag
              [value]="getSaleStatusLabel(sale.saleStatus)"
              [severity]="getSaleStatusSeverity(sale.saleStatus)">
            </p-tag>
          </td>
          <td>{{ sale.saleItems?.length || 0 }} item(s)</td>
          <td>{{ sale.totalAmount | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
          <td class="actions">
            <p-button
              icon="pi pi-pencil"
              [rounded]="true"
              [text]="true"
              severity="secondary"
              (click)="editSale(sale)"
              pTooltip="Editar venda"
              tooltipPosition="top"
            />
            <p-button
              icon="pi pi-trash"
              [rounded]="true"
              [text]="true"
              severity="danger"
              (click)="deleteSale(sale)"
              pTooltip="Excluir venda"
              tooltipPosition="top"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-confirmDialog></p-confirmDialog>
</div>
