@import "primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Afacad', sans-serif;
}

html, body {
  height: 100%;
  font: inherit;
  overflow-x: hidden;
}

:root {
  --p-datepicker-date-selected-background: #1293b3 !important;
  --p-inputtext-focus-border-color: #1293b3 !important;
  --p-textarea-focus-border-color: #1293b3 !important;
  --p-radiobutton-checked-background: #1293b3 !important;
  --p-radiobutton-checked-border-color: #1293b3 !important;
  --p-radiobutton-checked-hover-background: #1293b3 !important;
  --p-radiobutton-checked-hover-border-color: #1293b3 !important;
}

