<div class="content">
  <p-button label="Adicionar compra" (click)="openPurchaseForm()"/>
  <app-purchase-form [(visible)]="visible" [purchase]="selectedPurchase" (purchaseChanged)="loadPurchases()"></app-purchase-form>
  <div class="list">
    <p-table [value]="purchases" [tableStyle]="{ 'min-width': '70rem' }">
      <ng-template #header>
        <tr>
          <th>Nota Fiscal</th>
          <th>Fornecedor</th>
          <th>Data</th>
          <th>Total</th>
          <th>Itens</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template #body let-purchase>
        <tr>
          <td>{{ purchase.invoiceNumber }}</td>
          <td>{{ purchase.supplierName }}</td>
          <td>{{ purchase.purchaseDate | date:'dd/MM/yyyy' }}</td>
          <td>{{ purchase.totalAmount | currency:'BRL':'symbol':'1.2-2' }}</td>
          <td>{{ purchase.purchaseItems.length }}</td>
          <td class="actions" style="display: flex; gap: 8px;">
            <i class="pi pi-pencil" style="cursor: pointer;" (click)="editPurchase(purchase)"></i>
            <i class="pi pi-trash" style="cursor: pointer;" (click)="deletePurchase(purchase)"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-confirmDialog></p-confirmDialog>
</div>