<div class="content">
  <p-button
    class="add-category-button"
    label="Adicionar categoria"
    icon="pi pi-plus"
    (click)="openCategoryForm()"
  />

  <app-category-form [(visible)]="visible" [category]="selectedCategory" (categoryChanged)="loadCategories()"></app-category-form>

  <div class="list">
    <p-table
      [value]="categories"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="pageSize"
      [totalRecords]="totalCount"
      [rowsPerPageOptions]="[10, 20, 30, 50]"
      [lazy]="true"
      (onPage)="pageChange($event)"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    >
      <ng-template #header>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template #body let-category>
        <tr>
          <td>
            <div class="category-name">
              {{ category.name }}
            </div>
          </td>
          <td>{{ category.description }}</td>
          <td class="actions">
            <p-button
              icon="pi pi-pencil"
              [rounded]="true"
              [text]="true"
              severity="secondary"
              (click)="editCategory(category)"
              pTooltip="Editar categoria"
              tooltipPosition="top"
            />
            <p-button
              icon="pi pi-trash"
              [rounded]="true"
              [text]="true"
              severity="danger"
              (click)="deleteCategory(category)"
              pTooltip="Excluir categoria"
              tooltipPosition="top"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-confirmDialog></p-confirmDialog>
</div>
